<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VBet</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/adapt/menu.css}">
    <link rel="stylesheet" th:href="@{/css/adapt/login.css}">
    <link rel="shortcut icon" th:href="@{/img/logo.svg}" type="image/x-icon">
    <script type="text/javascript" th:src="@{/jquery/jquery-3.7.1.js}"></script>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="container__header">
            <div class="header__name">
                Войти
            </div>
            <div class="header__cross">
                <a href="main.html"><img th:src="@{/img/Cross.svg}" alt="Cross" class="header__cross-img"></a>
            </div>
        </div>
    </div>
</header>

<form class="profile" th:method="POST" th:action="@{/login}" th:object="${login}">
    <div class="container">
        <div class="profile__item">
            <div class="profile__item-name">Логин</div>
            <div class="profile__item-input">
                <div class="input__container">
                    <input id="login" type="text" class="profile__input profile__noninput" th:field="*{login}"
                           placeholder="Введите логин">
                </div>
            </div>
            <div class="profile__item-error" th:text="${errorLogin}"></div>
            <div class="profile__item-description">
                <div class="description__point"><img th:src="@{/img/point.svg}" alt="Point" class="point"></div>
                <div class="description__name">
                    <div class="profile__container">от 4 до 60 символов</div>
                </div>
            </div>
            <div class="profile__item-description">
                <div class="description__point"><img th:src="@{/img/point.svg}" alt="Point" class="point"></div>
                <div class="description__name">
                    <div class="profile__container">только цифры и буквы латинского алфавита</div>
                </div>
            </div>
        </div>
        <div class="profile__item">
            <div class="profile__item-name">Пароль</div>
            <div class="profile__item-input">
                <div class="input__container">
                    <input id="password" type="password" class="profile__input" th:field="*{password}"
                           placeholder="Введите пароль"></div>
            </div>
            <div class="profile__item-error" th:text="${errorPassword}"></div>
            <div class="profile__item-description">
                <div class="description__point"><img th:src="@{/img/point.svg}" alt="Point" class="point"></div>
                <div class="description__name">
                    <div class="profile__container">от 4 до 60 символов</div>
                </div>
            </div>
            <div class="profile__item-description">
                <div class="description__point"><img th:src="@{/img/point.svg}" alt="Point" class="point"></div>
                <div class="description__name">
                    <div class="profile__container">только цифры и буквы латинского алфавита</div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile__button">
        <div class="container">
            <div class="save__button">
                <input class="save__input" type='submit' name="action" value='Войти'/>
            </div>
            <div class="login__question">
                <div class="login__question-title">Еще нет аккаунта?</div>
                <div class="login__question-link"><a th:href="@{/register}">Зарегистрироваться</a></div>
            </div>
        </div>
    </div>
</form>
</body>

<script>
    $("html").on('click', function() {
        var hasTouchScreen = false;

        if ("maxTouchPoints" in navigator) {
            hasTouchScreen = navigator.maxTouchPoints > 0;
        }

        if (hasTouchScreen) {
            if($(".profile__input").is(":focus")){
                $(".profile").css("margin-top", "90px");
            } else{
                $(".profile").css("margin-top", "110px");
            }
        }
    });

    $(".profile__item").on('click', function() {
        $(this).find(".profile__input").focus();
    });

    $(".save__input").on('click', function() {

    });
</script>
</html>
