body {
    background-color: #696969;
}


/* Start balance */
.balance__check{
    margin-top: 85px;
}

.balance__check__title {
    height: 35px;
    width: 100%;
    padding: 2.5px 0;
    background-color: #404040;
}

.balance__check__container__title-name {
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 0;
}

.checks{
    margin-bottom: 80px;
}

.check {
    border-bottom: .5px solid #404040;
    box-shadow: 0px 1px 5px #404040;
    margin-bottom: 10px;
}

.check__data {
    height: 100px;
}

.check__bet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
}

.check__match {
    margin: auto 0;
}

.check__match__value {
    display: flex;
    flex-wrap: wrap;
}

.check__match__date {
    font-size: 12px;
    color: rgba(255, 255, 255, .75);
    margin-bottom: 7px;
}

.check__match__value {
    font-weight: 700;
}

.check__coefficient {
    font-weight: 700;
    margin: auto 0;
}

.check__bet__name {
    margin: 10px 0;
}

.check__result {
    background-color: rgba(50, 93, 248, .25);
}

.check:hover .check__result{
    background-color: rgba(50, 93, 248, .55);
}

.check:hover .check__data{
    background-color: rgba(255,255,255, .1);
}

.check__container__result {
    height: 65px;
}

.check__result__bet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.check__result__bet__name {
    display: flex;
    flex-wrap: wrap;
}

.check__result__bet__value {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}

.bets__popup-title{
    font-weight: 400;
}

/* End balance */
