html {
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', system-ui;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

/*Start Header*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: #404040;
}

.container__header{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
}

.header__logo{
    margin: auto 0;
}

.header__name{
    margin: auto 0;
    margin-left: 10px;
    font-size: 24px;
    display: flex;
}

.header__name_first{
    font-weight: 700;
}

.header__back{
    margin: auto 0;
    margin-left: auto;
}
/*End Header*/


/*Start Menu*/
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    background-color: #404040;
}

.footer__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 65px;
}

.footer__menu-item{
    margin: auto 0;
}

.footer__menu-item:hover
.footer__menu-picture{
    filter: brightness(0) invert(1);
}

.footer__menu-item:focus
.footer__menu-picture{
    filter: brightness(0) invert(1);
}

.footer__menu-item:clicked
.footer__menu-picture{
    filter: brightness(0) invert(1);
}

.footer__menu-active-item{
    filter: brightness(0) invert(1);
}
/*End Menu*/
