body {
    background-color: #696969;
}


/* Start Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: #404040;
}

.container__header{
    display: flex;
    flex-wrap: wrap;
    height: 65px;
}

.header__logo{
    margin: auto 0;
}

.header__name{
    margin: auto 0;
    margin-left: 10px;
    font-size: 16px;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.header__cross{
    margin: auto 0;
    margin-left: auto;
}

/* End Header */


/* Start Profile */
.profile {
    margin-top: 110px;
    margin-bottom: 135px;
    transition: .25s;
}

.profile__item {
    position: relative;
    margin-bottom: 40px;
}

.profile__item__date{
    width: 190px;
}

.profile__item-input {
    height: 40px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.profile__item-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.input__container {
    margin: 1px 30px 0;
    position: relative;
}

.profile__container {
    margin: 9px 30px;
}

.profile__input {
    color: #fff;
    background-color: #696969;
    border: none;
    width: 100%;
    height: 37px;
}

.profile__noninput{
    user-select: none;
}

.profile__input__date{
    color: #fff;
    color-scheme: dark;
}

.description__point {
    padding: 9px 0;
}

.profile__item-description{
    display: flex;
    user-select: none;
    position: absolute;
    top: 80%;
    opacity: 0;
    transition: .25s;
    font-size: 14px;
}

.profile__item:hover .profile__item-description{
    opacity: 1;
    top: 100%;
    position: relative;
}

.profile__item-error{
    margin: 10px 35px 0;
    color: rgba(225,55,55,1);
    font-size: 14px;
    transition: .25s
}

.profile__item:hover .profile__item-error{
    opacity: 0;
    font-size: 0;
}
.profile__item:hover .profile__item-repeat-error{
    opacity: 1;
    font-size: 14px;
}

.profile__item:hover .profile__item-input{
    border: 1px solid rgba(255, 255, 255, .7);
    cursor: pointer;
}

.profile__item__locked:hover .profile__item-input{
    border: 1px solid rgba(255, 255, 255, .1);
}

.lock{
    position: absolute;
    right: -5%;
    top: 10%;
}
/* End Profile */

/* Start button*/

.profile__button{
    position: fixed;
    bottom: 35px;
    width: 100%;
}

.save__button{
    height: 65px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background-color: #404040;
    transition: .25s;
}

.save__button:hover{
    background-color: rgba(69,69,69,.75);
}

.save__input {
    color: #fff;
    background-color: transparent;
    border: none;
    height: 65px;
    width: 100%;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
}

.login__question{
    font-size: 12px;
    justify-content: center;
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
    color: rgba(255,255,255, .85);
}

.login__question-link{
    margin-left: 3px;
    font-weight: 700;
    color: rgba(255,255,255, .85);
    transition: .25s;
}

.login__question-link:hover{
    color: rgba(255,255,255, 1);
}
/* End button*/

/* Start rechange*/

/* End rechange*/
