@media (min-width: 200px){
    .bet__match__team {
        width: 100px;
        text-align: center;
    }
}

@media (min-width: 480px){
    .bet__match__team {
        width: 190px;
        text-align: center;
    }
}
